--
-- PostgreSQL database dump
--

\restrict a7PZrJ9ky6t7BYFSwJ1yvQY7JxgQSEtQREd0lwgswU9GIPkRyLi2oCTpBcVHbRI

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: rich
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO rich;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: rich
--

CREATE TABLE public.admins (
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    id integer NOT NULL
);


ALTER TABLE public.admins OWNER TO rich;

--
-- Name: admins_id_seq; Type: SEQUENCE; Schema: public; Owner: rich
--

CREATE SEQUENCE public.admins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admins_id_seq OWNER TO rich;

--
-- Name: admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rich
--

ALTER SEQUENCE public.admins_id_seq OWNED BY public.admins.id;


--
-- Name: characters; Type: TABLE; Schema: public; Owner: rich
--

CREATE TABLE public.characters (
    name character varying(255) NOT NULL,
    img_links text[],
    anime character varying(255),
    info text[],
    id integer NOT NULL,
    biography text
);


ALTER TABLE public.characters OWNER TO rich;

--
-- Name: characters_id_seq; Type: SEQUENCE; Schema: public; Owner: rich
--

CREATE SEQUENCE public.characters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.characters_id_seq OWNER TO rich;

--
-- Name: characters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rich
--

ALTER SEQUENCE public.characters_id_seq OWNED BY public.characters.id;


--
-- Name: games; Type: TABLE; Schema: public; Owner: rich
--

CREATE TABLE public.games (
    anime character varying(255),
    game character varying(255),
    platforms text[],
    links text[],
    id integer NOT NULL
);


ALTER TABLE public.games OWNER TO rich;

--
-- Name: games_id_seq; Type: SEQUENCE; Schema: public; Owner: rich
--

CREATE SEQUENCE public.games_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.games_id_seq OWNER TO rich;

--
-- Name: games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rich
--

ALTER SEQUENCE public.games_id_seq OWNED BY public.games.id;


--
-- Name: news; Type: TABLE; Schema: public; Owner: rich
--

CREATE TABLE public.news (
    article character varying(255),
    link character varying(255),
    anime character varying(255),
    id integer NOT NULL
);


ALTER TABLE public.news OWNER TO rich;

--
-- Name: news_id_seq; Type: SEQUENCE; Schema: public; Owner: rich
--

CREATE SEQUENCE public.news_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.news_id_seq OWNER TO rich;

--
-- Name: news_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rich
--

ALTER SEQUENCE public.news_id_seq OWNED BY public.news.id;


--
-- Name: quotes; Type: TABLE; Schema: public; Owner: rich
--

CREATE TABLE public.quotes (
    "character" character varying(255),
    id integer NOT NULL,
    quote character varying(255) NOT NULL,
    charid integer
);


ALTER TABLE public.quotes OWNER TO rich;

--
-- Name: quotes_id_seq; Type: SEQUENCE; Schema: public; Owner: rich
--

CREATE SEQUENCE public.quotes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quotes_id_seq OWNER TO rich;

--
-- Name: quotes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rich
--

ALTER SEQUENCE public.quotes_id_seq OWNED BY public.quotes.id;


--
-- Name: test; Type: TABLE; Schema: public; Owner: rich
--

CREATE TABLE public.test (
    color character varying(255)
);


ALTER TABLE public.test OWNER TO rich;

--
-- Name: admins id; Type: DEFAULT; Schema: public; Owner: rich
--

ALTER TABLE ONLY public.admins ALTER COLUMN id SET DEFAULT nextval('public.admins_id_seq'::regclass);


--
-- Name: characters id; Type: DEFAULT; Schema: public; Owner: rich
--

ALTER TABLE ONLY public.characters ALTER COLUMN id SET DEFAULT nextval('public.characters_id_seq'::regclass);


--
-- Name: games id; Type: DEFAULT; Schema: public; Owner: rich
--

ALTER TABLE ONLY public.games ALTER COLUMN id SET DEFAULT nextval('public.games_id_seq'::regclass);


--
-- Name: news id; Type: DEFAULT; Schema: public; Owner: rich
--

ALTER TABLE ONLY public.news ALTER COLUMN id SET DEFAULT nextval('public.news_id_seq'::regclass);


--
-- Name: quotes id; Type: DEFAULT; Schema: public; Owner: rich
--

ALTER TABLE ONLY public.quotes ALTER COLUMN id SET DEFAULT nextval('public.quotes_id_seq'::regclass);


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: rich
--

COPY public.admins (username, password, id) FROM stdin;
\.


--
-- Data for Name: characters; Type: TABLE DATA; Schema: public; Owner: rich
--



--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: rich
--

COPY public.games (anime, game, platforms, links, id) FROM stdin;
\.


--
-- Data for Name: news; Type: TABLE DATA; Schema: public; Owner: rich
--

COPY public.news (article, link, anime, id) FROM stdin;
\.


--
-- Data for Name: quotes; Type: TABLE DATA; Schema: public; Owner: rich
--



--
-- Data for Name: test; Type: TABLE DATA; Schema: public; Owner: rich
--

COPY public.test (color) FROM stdin;
Red
Blue
Green
Yellow
\.


--
-- Name: admins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rich
--

SELECT pg_catalog.setval('public.admins_id_seq', 1, false);


--
-- Name: characters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rich
--

SELECT pg_catalog.setval('public.characters_id_seq', 44, true);


--
-- Name: games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rich
--

SELECT pg_catalog.setval('public.games_id_seq', 1, false);


--
-- Name: news_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rich
--

SELECT pg_catalog.setval('public.news_id_seq', 1, false);


--
-- Name: quotes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rich
--

SELECT pg_catalog.setval('public.quotes_id_seq', 274, true);


--
-- Name: admins admins_username_key; Type: CONSTRAINT; Schema: public; Owner: rich
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_username_key UNIQUE (username);


--
-- Name: characters characters_name_key; Type: CONSTRAINT; Schema: public; Owner: rich
--

ALTER TABLE ONLY public.characters
    ADD CONSTRAINT characters_name_key UNIQUE (name);


--
-- Name: characters characters_pkey; Type: CONSTRAINT; Schema: public; Owner: rich
--

ALTER TABLE ONLY public.characters
    ADD CONSTRAINT characters_pkey PRIMARY KEY (id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: rich
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: rich
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- Name: quotes quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: rich
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict a7PZrJ9ky6t7BYFSwJ1yvQY7JxgQSEtQREd0lwgswU9GIPkRyLi2oCTpBcVHbRI

